export GOOGLE_GENAI_USE_VERTEXAI=TRUE

export GOOGLE_CLOUD_PROJECT_ID=
export GOOGLE_CLOUD_PROJECT_NUMBER=
export GOOGLE_CLOUD_SERVICE_ACCOUNT=

export REGION="us-central1"
export GOOGLE_CLOUD_LOCATION=global
export REPOSITORY_NAME="horizon-integration-test"
