export GOOGLE_GENAI_USE_VERTEXAI=TRUE

export GOOGLE_CLOUD_PROJECT_ID=
export GOOGLE_CLOUD_PROJECT_NUMBER=
export GOOGLE_CLOUD_SERVICE_ACCOUNT=

export GOOGLE_CLOUD_LOCATION=global
export AIR_AGENT_URL=http://localhost:10002
export WEA_AGENT_URL=http://localhost:10001
