# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/

# Environment variables & Secrets
# Ignore all .env files in any directory
**/.env

# Locally generated keys
*.pem
*.pub

# Virtual environment
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Database files
*.db
*.db-journal

# Editors
.vscode/
.idea/

# Logs
*.log

# Build artifacts
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# OS-specific
.DS_Store
Thumbs.db